# Snippets for text files

snippet title
	Name: ${1}
	Date: ${2}
	Desc: ${3}
	${0}

snippet ==
	==================================================
	${0}

snippet --
	--------------------------------------------------
	${0}
# as in section
snippet sec
	------------------------------| ${1} |------------------------------
	${0}

snippet [
	[${1}] ${0}

